/* .RIAC {

} */
/* <RIAC className="RIAC">
...
<div className="card-title">
...
</RIAC> */

.RIAC .card-title {
 background: white;
}

.RIAC .cd-title {
  background: white;
  height: 2em;
 }
 
 
.module-header {
  font-size: 1.3em;
  float: left;
  /* border: none; */
}

.align-left {
  float: left;
  border: none;
}

.caption {
  font-size: 1em;
  font-weight: 800;
}

.short-image {
  height: 150%;
}
