.RIAC .card-title {
 background: white;
}

.RIAC .cd-title {
  background: white;
  height: 2em;
 }
 
 
.module-header {
  font-size: 1.3em;
  float: left;
  /* border: none; */
}

.align-left {
  float: left;
  border: none;
}

.caption {
  font-size: 1em;
  font-weight: 800;
}

.short-image {
  height: 150%;
}

.add-current-product {
  font-size: 1em; 
  text-align: center;
  border: 2px solid red;
}

.RIAC .add-card-body {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 0.8em;
  text-align: left;
}