.sorty {
  margin-left: 5px;
}

.ptag {
  margin-right: 5px;
  margin-top: 5px;
}

.middle {
  margin-top: 2rem;
}

.blueBtn {
  background-color: #00b0ff;
  margin-bottom: 8px;
}

.noBorder {
  border: none;
}

.spreadOut {
  width: 100%;
}

.container .thebtns {
  width: 100%;
  /* margin: 5px; */
}

/* @media (max-width: 575px) {
  .theMedia {
    height: 25vw;
  }
} */
