.relative {
  position: relative;
}
.floaty {
  float: right;
  border: none;
}

.stars {
  float: left;
  border: none;
}

.response {
  background-color: #e1f5fe;
  border: none;
}

.buffer {
  margin-left: 4px;
  margin-right: 4px;
}

.showBtn {
  background-color: #00b0ff;
}

.noBorder {
  border: none;
}

.imgBorder {
  border-bottom: 1px solid black;
}

.summaryRow {
  color: lightslategray;
}
