.product-card-layout {
  /* background-color:#61dafb; */
  float: left;
  border:1px solid;
  border-color: gray;
}

.product-card-div {
width: 100%;
height: 150%
}

.card-body {
  padding: 5px;
}

/* FOR CSS TESTING
.RIAC .card-title {
  background: blue;
} */

.align-left {
  float: left;
  border: none;
}

.category {
  font-size: 0.8em;
}

.pc-caption {
  font-size: 0.8em;
  font-weight: 800;
  height: 2em;
}

.price {
  font-size: 0.5em;
  color: red;
}

del {
  color: red;
}

.rating-stars {
  float: left;
  margin-left: 0;
  color: black;
}

.btn-star-riac {
  width: 30%;
  background-color: white;
  border: 1px solid black;
  box-shadow: none;
  color: black;
  float: right;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.style-image {
  height: 13em;
  /* height: 150%;
  width: 100%; */
  object-fit: contain;
  /* object-fit: cover; */
}

.image-container {
  width: 100%;
  height: 150%;
}

