.overview .form-check-input[type="radio"] {
  display: none;
}
.overview .checkmark {
  position: absolute;
  top: 0;
  right: 10%;
  width: 20%;
}
.overview .checkmark:after {
  /* position: absolute; */
  display: none;
  content: url("./checkmark.svg");
}
.overview input:checked ~ .checkmark:after {
  display: block;
}

.overview .thumb-col {
  height: calc(100vw / 12);
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}
@media (max-width: 575px) {
  .overview .thumb-col {
    height: 25vw;
  }
}

.overview .form-check-label {
  height: calc(100% - 1vw);
  width: 100%;
}

.overview .btn-outline-primary {
  width: 100%;
}

.overview .image-gallery-fullscreen-button {
  top: 0.1em;
  right: 0.1em;
  bottom: unset;
  padding: 0px;
}

.overview .image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: cover;
  height: 92.11vh;
}

.overview .image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
  display: none;
}

.overview .image-gallery.fullscreen-modal .image-gallery-left-nav {
  display: none;
}

.overview .image-gallery.fullscreen-modal {
  position: absolute;
}

.overview .image-gallery.fullscreen-modal .image-gallery-content {
  transform: unset;
}

.overview
  .image-gallery.fullscreen-modal
  .image-gallery-thumbnails-wrapper.left {
  display: none;
}

.overview .image-gallery-thumbnails-wrapper.left {
  z-index: 1;
  position: absolute;
  height: 100% !important;
  width: calc(92.2vh / 7.2);
}
/* @media (max-width: 575px) {
  .overview .image-gallery-thumbnails-wrapper.left {
    width: 25vw;
  }
} */

.overview .image-gallery-thumbnail .image-gallery-thumbnail-image {
  object-fit: cover;
}

.overview .image-gallery-thumbnail {
  width: calc(92.2vh / 7.2);
  height: calc(92.2vh / 7.2);
}
/* @media (max-width: 575px) {
  .overview .image-gallery-thumbnail {
    width: 25vw;
    height: 25vw;
  }
} */

.overview .image-gallery-slide-wrapper.left {
  width: 100%;
}

.overview .image-gallery-left-nav {
  left: calc(92.2vh / 7.2);
}
/* @media (max-width: 575px) {
  .overview .image-gallery-left-nav {
    left: 25vw;
  }
} */

.overview .image-gallery-image {
  cursor: zoom-in;
}

.overview .magnifier {
  position: absolute;
  z-index: 1;
}

.overview .image-gallery-svg {
  height: 2.5em;
  width: 2.5em;
}

.overview .radio-styles {
  position: absolute;
  right: 10%;
  top: 0;
}

.overview .style-thumbs {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overview .sale-price {
  color: red;
}

.overview #carousel {
  padding: 0;
}

.overview #details {
  height: 92.11vh;
  display: table;
}

.overview #social-media-buttons {
  margin: auto;
}

.overview .dropdown-toggle {
  min-width: fit-content;
}
