.overview .form-check-input[type=radio] {
  display: none;
}
.overview .checkmark {
  position: absolute;
  top: 0;
  right: 10%;
  width: 20%;
}
.overview .checkmark:after {
  /* position: absolute; */
  display: none;
  content: url("./checkmark.svg");
}
.overview input:checked ~ .checkmark:after {
  display: block;
}
.overview .checkmark:after {
  /* top: 0;
  right:0; */
  width: 100%;
}

.overview .btn-outline-primary{
  width:100%;
}

.overview .image-gallery-fullscreen-button{
  top: .1em;
  right: .1em;
  bottom: unset;
  padding: 0px;
}

.overview .image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: cover ;
  height: 92.11vh ;
}

.overview .image-gallery-left-nav[disabled], .image-gallery-right-nav[disabled] {
  display: none;
}

.overview .image-gallery.fullscreen-modal .image-gallery-left-nav{
  display: none;
}

.overview .image-gallery.fullscreen-modal .image-gallery-right-nav{
  display: none;
}

.overview .image-gallery.fullscreen-modal {
  position: absolute ;
  /* width: 100% ; */
}

.overview .image-gallery.fullscreen-modal .image-gallery-content {
   /* top: unset; */
   transform: unset;
}

.overview .image-gallery.fullscreen-modal .image-gallery-thumbnails-wrapper.left{
  display: none;
}

.overview .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  z-index: 1;
  position: absolute;
  height: 100%!important;
}

.overview .image-gallery-slide-wrapper.left{
  width: 100%;
}

.overview .image-gallery-left-nav{
  left: 100px;}
  @media (max-width: 768px) {
    .overview .image-gallery-left-nav{
      left: 81px; }
  }

.overview .image-gallery-image{
  cursor: zoom-in;
}

.overview .magnifier{
  position:absolute;
  z-index:1
}

.overview .image-gallery-svg{
  height: 2.5em;
  width: 2.5em;
}