.noBorder {
  border: none;
}

.ratingAvg {
  font-size: 5rem;
  font-weight: bolder;
}

.stary {
  font-size: 2rem;
  margin-left: 5px;
  margin-top: 5px;
}

.ratingBars {
  /* background-color: #0277bd; */
  margin: 3px;
  padding: 0px;
}

.noPaddy {
  padding: 0px;
}
